*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
html,body{
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
#main{
    height: 100vh;
    width: 100%;

}
#bottom{
    height: 100vh;
    width: 100%;
    
}
#bottom img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
#top{
    pointer-events: none;
    position:absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
   
}
#workingarea{
    width: 80%;
    max-width: 1920px;
    height: 100vh;
    position: relative;
    margin:0 auto;
}
#nav{
    display: flex;
    justify-content:space-between;
    align-items:center;
    width:100%;
    padding:30px 0 ;
}
#nav img{
    height:70px;
}
#nleft, #nright{
    display: flex;
    align-items: center;
    gap:40px;
}
#nav a{
    pointer-events: all;
    text-decoration: none;
    font-size: 12px;
    font-family: helvetica;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
}
#hero{
    position: absolute;
    width: 100%;
    transform: translate(0%,-50%);
    top:60%;
    left:0;
    justify-content: space-between;
    display: flex;
  transform: translate(0,-50%);
}
#heroleft{
    min-width:50%;
}
#heroright{
    display:flex;
    flex-direction: column;
    align-items: flex-end;
    width: 17%;
    color: #fff;
    
}
#heroleft #elem{
    height: 9vw;
    position: relative;
    overflow: hidden;
}
#heroleft #elem h1{
    line-height: .9;
    font-size: 10vw;
    color: #fff;
    font-weight: 100;
    font-family: "kajiro";
    letter-spacing: 2px;
}
#heroleft button{
    pointer-events: all;
    padding: 12px 32px;
    font-size: 2vw;
    font-family: helvetica;
}
#heroright p{
    font-family: helvetica;
    font-size:13px;
    font-weight: 300;
    text-align: right;
}
#heroright #imagediv{
    
    width:100%;
    height: 170px;
    margin-top:20px ;
    margin-bottom: 30px;
    background-image: url("https://images.unsplash.com/photo-1621688285733-07fad23b81c7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzN8fGxhbWJvcmdoaW5pfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60");
   background-size : cover;
   background-position: center;
}
#heroright p:nth-child(3){
    margin-top: 10px;
    margin-bottom: 20px;
}